#minesweeper {
    display: grid;
    grid-template-columns: repeat(5, 30px);
    grid-template-rows: repeat(5, 30px);
    gap: 1px;
}

.cell {
    width: 30px;
    height: 30px;
    background-color: #000cb8;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
    cursor: pointer;
}

.cell.revealed {
    background-color: #1400c4;
}

.mine {
    background-color: rgb(235, 152, 0);
}

.flag {
    background-color: #00f;
    color: #fff;
}
